
  
  

<footer class="footer">
<ul>
    
    <li><a href="{{ site.baseurl }}/about">About</a></li>
	<li><a href="{{ site.baseurl }}/CONTRIBUTING">Get Involved</a></li>
    <li><a href="{{ site.baseurl }}/faq">FAQ</a></li>     
    <li><a href="{{ site.baseurl }}/license">Licenses</a></li>
	<li><a href="{{ site.baseurl }}/privacy">Privacy</a></li>
	<li><a href=""> Terms</a>
	<li><a href="">Feedback </a>
    
  </ul>
</footer>
{% include algolia.html %}
{% include js.html %}
</div>
  </body>
  </html>


