  <script src="{{ site.baseurl }}/public/js/anchor.min.js"></script>
  <script src="{{ site.baseurl }}/public/js/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/public/js/algoliasearch.min.js"></script>
  <script src="{{ site.baseurl }}/public/js/algoliasearch.helper.min.js"></script>
  <script src="{{ site.baseurl }}/public/js/hogan.min.js"></script>
  <script src="{{ site.baseurl }}/public/js/moment.min.js"></script>
  <script src="{{ site.baseurl }}/public/js/algolia.js"></script>
  <script src="{{ site.baseurl }}/public/js/jquery.scrolldepth.min.js"></script>
  <script src="{{ site.baseurl }}/public/js/riveted.min.js"></script>
  <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script type='text/script' src='{{site.url}}/public/js/twitter.js'></script>
  <script>riveted.init();</script>