<div>
	
	{%if article_url == null %}
	  {% assign article_url = page.url %}
	  <i class="fa fa-twitter" aria-hidden="true"></i> <a href="https://twitter.com/intent/tweet?url={{site.url}}{{article_url}}&hashtags=TheTldr">Tweet</a> | 
	<i class="fa fa-edit" aria-hidden="true"></i><a href="{{site.edit_path}}{{ page.path }}" target="_blank">Edit</a> | 
	 <i class="fa fa-comments-o" aria-hidden="true"></i><a href="#gpgc_new_comment" >comments</a>
	{% else %}
		<i class="fa fa-twitter" aria-hidden="true"></i> <a href="https://twitter.com/intent/tweet?url={{site.url}}{{article_url}}&hashtags=TheTldr">Tweet</a> | 
	<i class="fa fa-edit" aria-hidden="true"></i><a href="{{site.edit_path}}{{ post.path }}" target="_blank">Edit</a>
	<!--<i class="fa fa-comments-o" aria-hidden="true"></i><a href="{{site.url}}{{article_url}}#gpgc_new_comment" >comments</a>-->
	<i class="fa fa-comments-o" aria-hidden="true"></i><a href="#gpgc_new_comment" >comments</a>
	{% endif %}
	
</div>
